

.pattern00{

    .teaser:nth-child(1){
        @media (min-width: @screen-lg-min) {
            a{
                img{
                    height:472px;
                }
                .caption{
                    padding-left:50px;
                    height:472px;
                    label{
                        font-size:16px;
                        line-height:22px;
                    }
                    time, p{
                        font-size:20px;
                        line-height:26px;
                    }
                    h1{
                        font-size:50px;
                        line-height:55px;
                    }
                }
            }
        }
        @media (min-width: @screen-md-min) {
            a{
                img{
                    height:402px;
                }
                .caption{
                    padding-left:50px;
                    height:402px;
                    label{
                        font-size:15px;
                        line-height:20px;
                    }
                    time, p{
                        font-size:18px;
                        line-height:26px;
                    }
                    h1{
                        font-size:44px;
                        line-height:54px;
                    }
                }
            }
        }
        @media (min-width: @screen-sm-min) {
            a{
                img{
                    height:500px;
                }
                .caption{
                    height:500px;
                    label{
                        font-size:17px;
                        line-height:23px;
                    }
                    time, p{
                        font-size:18px;
                        line-height:26px;
                    }
                    h1{
                        font-size:44px;
                        line-height:54px;
                    }
                }
            }
        }

        .make-sm-column(12);
        .make-md-column(12);
        img{
            .make-md-column(6);
        }
        .caption{
            .make-md-column(6);
        }
    }
    .teaser:nth-child(n+2){
        .make-sm-column(6);
        .make-md-column(3);
        img{
            .make-xs-column(12);
        }
        .caption{
            .make-xs-column(12);
        }
    }
    .list:nth-child(5){
        .make-sm-column(6);
        .make-md-column(3);

    }


}
.pattern01{

    .teaser:nth-child(1) {
        .make-md-column(6);

        img{
            .make-md-column(12);
            .make-xs-column(12);

        }
        .caption{
            .make-md-column(12);
            .make-xs-column(12);


        }
    }

    .teaser:nth-child(n+2) {
        .make-md-column(3);
        .make-xs-column(6);

        img{
            .make-md-column(12);
            .make-xs-column(12);

        }
        .caption{
            .make-md-column(12);
            .make-xs-column(12);

        }
    }

    .teaser:nth-child(4) {
         .make-sm-column(12);
         .make-md-column(6);


         img{
             .make-md-column(6);
             .make-sm-column(12);

         }
         .caption{
             .make-md-column(6);
             .make-sm-column(12);

         }
     }
    .teaser:nth-child(5) {
        .make-md-column(3);
        .make-sm-column(3);


        img{
            .make-sm-column(12);

        }
        .caption{
            .make-sm-column(12);

        }
    }
    .list:nth-child(6) {
         .make-md-column(3);
         .make-sm-column(3);

     }


}
.pattern02{

    .teaser:nth-child(1){
    @media (min-width: @screen-lg-min) {
        a{
            img{
                height:472px;
            }
            .caption{
                padding-left:50px;
                height:472px;
                label{
                    font-size:16px;
                    line-height:22px;
                }
                time, p{
                    font-size:20px;
                    line-height:26px;
                }
                h1{
                    font-size:50px;
                    line-height:55px;
                }
            }
        }
    }
    @media (min-width: @screen-md-min) {
        a{
            img{
                height:402px;
            }
            .caption{
                padding-left:50px;
                height:402px;
                label{
                    font-size:15px;
                    line-height:20px;
                }
                time, p{
                    font-size:18px;
                    line-height:26px;
                }
                h1{
                    font-size:44px;
                    line-height:54px;
                }
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        a{
            img{
                height:500px;
            }
            .caption{
                height:500px;
                label{
                    font-size:17px;
                    line-height:23px;
                }
                time, p{
                    font-size:18px;
                    line-height:26px;
                }
                h1{
                    font-size:44px;
                    line-height:54px;
                }
            }
        }
    }

    .make-sm-column(12);
    .make-md-column(12);
    img{
        .make-md-column(6);
    }
    .caption{
        .make-md-column(6);
    }
        }
    .teaser:nth-child(n+2){
        .make-sm-column(6);
        .make-md-column(3);
        img{
            .make-xs-column(12);
        }
        .caption{
            .make-xs-column(12);
        }
    }
    .list:nth-child(5){
        .make-sm-column(6);
        .make-md-column(3);

    }


}

   //.teaser:nth-child(n+2) {
   //     .make-md-column(4);
   //     background-color:blue;
   // }
