//
// KB alert
// --------------------------------------------------

.alert{
    border:none;
    margin-bottom:0px;
    border-radius: 0px;
    background:#5b2320;
    color:#FFF;
    .container{
        text-align: center;
    }
}
