//
// KB Article
//
//------------------------------------------------------
/* Fallback xs */
article.contentPage{
    figure{
        margin-bottom: 30px;
    }
    .picture{
        picture{
            height:@comp-height-xs;
            background: #969696;
        }
        picture, .caption{
            padding: @reset-padding!important;
            overflow: hidden !important;
            .make-xs-column(12);
        }
        figcaption{
            font:@article-figcaption-sm;
            color:@figcaption-color;
        }
    }
    header{
        h1{
            font:@article-header-sm;
        }
        .lead{
            font:@article-sub-header-sm;
        }
        span, time{
           font:@article-header-label-sm;
           color:@article-header-label-color;
        }
        span{
            display:inline-block;
            padding-right:10px;
        }
        time{
            padding-left:10px;
            border-left:1px solid #777777;
        }
    }
    div[itemprop="articleBody"]{
        h1, h2, h3{
            font: @article-body-h1-sm;
        }
        p{
            font: @article-body-p-sm;
        }
        img{
            .img-responsive;
            width:50%;
            margin:15px 15px 15px 0px;
        }
        // FIX Table in article (AKA Uffe table)
        table{
            width:100%;
        }
        a{
           text-decoration: underline;
        }

    }
    // Extra Extra Small devices (0px to 480px)
    //------------------------------------------------------
    // Pattern Rules for flow, grid
    //------------------------------------------------------
    @media (max-width: @screen-xs-min) {
        article.contentPage
        picture img{
            width:100%;
        }
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: @screen-sm-min) {
        .picture{
            picture{
                height:@comp-height-sm;
            }
            figcaption{
                font:@article-figcaption-sm;
            }
        }
        header{
            h1{
                font:@article-header-sm;
            }
            .lead{
                font:@article-sub-header-sm;
            }
            span, time{
                font:@article-header-label-sm;
            }
        }
        div[itemprop="articleBody"]{
            h1, h2, h3{
                font: @article-body-h1-sm;
            }
            p{
                font: @article-body-p-sm;
            }

        }
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {
        .picture{
            picture{
                height:@comp-height-md;
            }
            figcaption{
                font:@article-figcaption-md;
            }
        }
        header{
            h1{
                font:@article-header-md;
            }
            .lead{
                font:@article-sub-header-md;
            }
            span, time{
                font:@article-header-label-md;
            }
        }
        div[itemprop="articleBody"]{
            h1, h2, h3{
                font: @article-body-h1-md;
            }
            p{
                font: @article-body-p-md;
            }

        }
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: @screen-lg-min) {
        .picture{
            picture{
                height:@comp-height-lg;
            }
            figcaption{
                font:@article-figcaption-lg;
            }
        }
        header{
            h1{
                font:@article-header-lg;
            }
            .lead{
                font:@article-sub-header-lg;
            }
            span, time{
                font:@article-header-label-lg;
            }
        }
        div[itemprop="articleBody"]{
            h1, h2, h3{
                font: @article-body-h1-lg;
            }
            p{
                font: @article-body-p-lg;
            }

        }
    }


}

