//
// Carousel
// --------------------------------------------------

// Wrapper for the slide container and indicators
//
// Carousel
// --------------------------------------------------

.swiper-container{
    @media (min-width: @screen-md-min) {
        margin-top: -30px !important; // !important to override swipe styles
    }
}

.swiper-slide{
    position: relative;

    @media (min-width: @screen-lg){
        img{
            width:100%;
        }
    }
}

.swiper-pagination {
    /* border:1px solid red; */
    position:absolute;
    bottom:20px;
    left:20px;

    .swiper-pagination-switch{
        display:inline-block;
        width:16px;
        height:16px;
        margin-right:10px;
        border:3px solid black;
        border-radius:8px;
        cursor: pointer;
        box-shadow:0px 0px 5px #666;
    }
    .swiper-active-switch{
        background-color:white;
    }
}

// Left/right controls for nav
// ---------------------------

.swiper-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: @carousel-control-width;


// We can't have this transition here because WebKit cancels the carousel
// animation if you trip this while in the middle of another animation.

// Set gradients for backgrounds
    &.arrow-left {
        #gradient > .horizontal(@start-color: rgba(0,0,0,.5); @end-color: rgba(0,0,0,.0001));
        background:transparent url("../img/carousel-icon-prev.png") no-repeat 50% 50%;
    }
    &.arrow-right {
        left: auto;
        right: 0;
        #gradient > .horizontal(@start-color: rgba(0,0,0,.0001); @end-color: rgba(0,0,0,.5));
        background:transparent url("../img/carousel-icon-next.png") no-repeat 50% 50%;
    }


// Hover/focus state
    &:hover,
    &:focus {
        outline: 0;
        color: @carousel-control-color;
        text-decoration: none;
        .opacity(.9);
    }


}


// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
    position: absolute;
    top:60px;
    left: 15%;
    right: 15%;
    bottom: 0px;
    z-index: 10;
    padding:0 20px 50px 20px;
    color: @carousel-caption-color;
    //text-align: center;
    //background-color: rgba(0,0,0,0.5);
    text-shadow: 0px 0px 60px #000000;
    & .btn {
        text-shadow: none; // No shadow for button elements in carousel-caption
    }
    h1{
      font:@carousel-h1-xs;
        -o-text-overflow: clip;
        text-overflow: clip;
        text-shadow: 0px 0px 100px rgba(0,0,0,1), 0px 0px 10px rgba(0,0,0,1) ;
    }
    p{
        font:@carousel-p-xs;
    }

    // Small devices (tablets, 768px and up)
    @media (max-width: @screen-sm-max) {

    }
    // Medium devices (desktops, 992px and up)
    @media (min-width: @screen-md-min) {
        h1{
            font:@carousel-h1-lg;
        }
        p{
            font:@carousel-p-lg;
        }
    }
    // Large devices (large desktops, 1200px and up)
    @media (min-width: @screen-lg-min) {
        h1{
            font:@carousel-h1-lg;
        }
        p{
            font:@carousel-p-lg;
        }

    }


}

