// Breakpoints height for components
//1200px
@comp-height-lg:      388px;
//992px
@comp-height-md:      311px;
//768px
@comp-height-sm:      414px;
//480px
@comp-height-xs:      420px;

.comp{
  margin-bottom:@grid-gutter-width;
  overflow:hidden;
  position: relative;
  background: @comp-bg;
  .caption:after{
    content: " ";
    position:absolute;
    z-index:5;
    width:100%;
    height:40px;
    bottom: 0px;
    right:0px;
    border:0px solid transparent;
    background:transparent url("../img/compBg.png") repeat-x left bottom;
  }
    .caption{
        z-index:4;
    }
    h3{
        padding-bottom:8px;
        margin:0px;
        word-wrap: break-word;
    }
}

// TEASER
.teaser{
    a{
        display: block;
    }
    picture, .caption{
        padding: @reset-padding!important;
        overflow: hidden !important;
        display:block;
    }
    picture{
       background: #000000;
    }
    .caption{
        padding:@teaser-caption-padding!important;
    }
    span{
        color:@teaser-label;
        font:@teaser-span-xs-md;
    }
    time{
        display: block;
        font:@teaser-time-xs-md;
    }
    h3{
        font:@teaser-header-xs-md;
    }
    p{
        font:@teaser-p-xs-md;
    }
}

// Extra Extra Small devices (0px to 480px)
//------------------------------------------------------
    // Pattern Rules for flow, grid
    //------------------------------------------------------
    @media (max-width: @screen-xs-min) {
        .comp{
            picture{
                max-height:@comp-height-xs/2;
            }
        }
        .teaser{
            img{
                width:100%;
            }
        }
        // Reset half col on small devices
        .col-xs-6{
            .make-xs-column(12);
        }
    }

// Extra Small devices (481px to 767px)
//------------------------------------------------------
    // Pattern Rules for flow, grid
    //------------------------------------------------------
    @media (min-width: @screen-xs-min) {
        .comp{
            picture, .caption{
                height:@comp-height-xs/2;
            }
        }
        // Font rules
        // Normal font for md
        .teaser{
            span{
                font:@teaser-span-xs-md;
            }
            time{
                font:@teaser-time-xs-md;
            }
            h3{
                font:@teaser-header-xs-md;
            }
            p{
                font:@teaser-p-xs-md;
            }
        }

        // Big font for first flow teaser
        .flow{
            .col-xs-12 .teaser{
                h3{
                    font: @teaser-header-xs-md-col-12;
                }
                p{
                    font:@teaser-p-xs-md-col-12;
                }
                span{
                    font:@teaser-span-xs-md-lg-col-12;
                }
                time{
                    font:@teaser-time-xs-md-col-12;
                }
            }
        }

        //Img half col rules
        .flow {
            .col-xs-12 .teaser{
                picture, .caption{
                    height:@comp-height-xs;
                    .make-xs-column(6);
                }
                picture{
                    padding-right:@grid-gutter-width / 2 !important;
                }
            }
        }
        .flow {
            .col-sm-8 .teaser, .col-md-9 .teaser{
                picture, .caption{
                    height:@comp-height-xs/2;
                    .make-xs-column(12);
                }
            }
        }
    }

// Small devices (768px to 991px)
//------------------------------------------------------
    // Pattern Rules for flow, grid
    //------------------------------------------------------
    @media (min-width: @screen-sm-min) {
        .comp{
            picture, .caption{
                height:@comp-height-sm/2;
            }
        }
        // Font rules
        // Normal font for sm
        .teaser{
            h3{
                font: @teaser-header-sm;
            }
            p{
                font:@teaser-p-sm;
            }
            span{
                font:@teaser-span-sm-lg;
            }
            time{
                font:@teaser-time-sm-lg;
            }
        }
        // Big font for first flow teaser
        .flow{
            .col-xs-12 .teaser{
                h3{
                    font: @teaser-header-sm-lg-col-12;
                }
                p{
                    font:@teaser-p-sm-lg-col-12;
                }
                span{
                    font:@teaser-span-sm-col-12;
                }
                time{
                    font:@teaser-time-sm-lg-col-12;
                }
            }
        }

        //Img half col rules
        .flow {
            .col-xs-12 .teaser, .col-sm-8 .teaser, .col-md-9 .teaser{
                picture, .caption{
                    height:@comp-height-sm;
                    .make-sm-column(6);
                }
                picture{
                    padding-right:@grid-gutter-width / 2 !important;
                }
            }
        }
    }

// Medium devices (992px to 1199px)
//------------------------------------------------------
    // Pattern Rules for flow, grid
    //------------------------------------------------------
    @media (min-width: @screen-md-min) {
        .comp{
            picture, .caption{
                height:@comp-height-md/2;
            }
        }
    // Font rules
    // Normal font for md
        .teaser{
            span{
                font:@teaser-span-xs-md;
            }
            time{
                font:@teaser-time-xs-md;
            }
            h3{
                font:@teaser-header-xs-md;
            }
            p{
                font:@teaser-p-xs-md;
            }
        }
    // Big font for first flow teaser
        .flow{
            .col-md-12 .teaser{
                span{
                    font:@teaser-span-xs-md-lg-col-12;
                }
                time{
                    font:@teaser-time-xs-md-col-12;
                }
                h3{
                    font:@teaser-header-xs-md-col-12;
                }
                p{
                    font:@teaser-p-xs-md-col-12;
                }
            }
        }
        //Img half col rules
        .flow {
            .col-xs-12 .teaser{
                picture, .caption{
                    height:@comp-height-md;
                    .make-md-column(6);
                }
                picture{
                    padding-right:@grid-gutter-width / 2 !important;
                    .make-md-column(6);
                }
            }
            .col-sm-8 .teaser, .col-md-9 .teaser{
                picture, .caption{
                    height:@comp-height-md;
                    .make-md-column(4);
                }
                picture{
                    padding-right:@grid-gutter-width / 2 !important;
                    .make-md-column(8)
                }
            }
        }
    }

// Large devices (1200px to not defined)
//------------------------------------------------------
    // Pattern Rules for flow, grid
    //------------------------------------------------------
    @media (min-width: @screen-lg-min) {
        .comp{
            picture, .caption{
                height:@comp-height-lg/2;
            }
        }
    // Font rules
    // Normal font for lg
        .teaser{
            span{
                font:@teaser-span-sm-lg;
            }
            time{
                font:@teaser-time-sm-lg;
            }
            h3{
                font:@teaser-header-lg;
            }
            p{
                font:@teaser-p-lg;
            }
        }
    // Big font for first flow teaser
        .flow{
            .col-xs-12 .teaser{
                span{
                    font:@teaser-span-xs-md-lg-col-12;
                }
                time{
                    font:@teaser-time-sm-lg-col-12;
                }
                h3{
                    font:@teaser-header-sm-lg-col-12;
                }
                p{
                    font:@teaser-p-sm-lg-col-12;
                }
            }
        }
        //Img half col rules
        .flow {
            .col-xs-12 .teaser{
                picture, .caption{
                    height:@comp-height-lg;
                    .make-lg-column(6);
                }
                picture{
                    padding-right:@grid-gutter-width / 2 !important;
                    .make-lg-column(6);
                }
            }
            .col-sm-8 .teaser, .col-md-9 .teaser{
                picture, .caption{
                    height:@comp-height-lg;
                    .make-lg-column(4);
                }
                picture{
                    padding-right:@grid-gutter-width / 2 !important;
                    .make-lg-column(8);
                }
            }
        }
        // Handels first element right col in article

        aside.col-lg-3 .flow .col-md-12 .teaser{
            picture, .caption{
                height:@comp-height-lg/2;
                .make-xs-column(12);
                span{
                    font:@teaser-span-sm-lg;
                }
                time{
                    font:@teaser-time-sm-lg;
                }
                h3{
                    font:@teaser-header-lg;
                }
                p{
                    font:@teaser-p-lg;
                }
            }
            picture{
                padding:@reset-padding!important;
            }
        }
    }



