// Breakpoints height for components
//1200px
@comp-height-lg:      388px;
//992px
@comp-height-md:      311px;
//768px
@comp-height-sm:      414px;
//480px
@comp-height-xs:      420px;


.comp{
  margin-bottom:@grid-gutter-width;
  overflow:hidden;
  height:@comp-height-xs;
  position: relative;
  background: @comp-bg;
  .caption:after{
    content: " ";
    position:absolute;
    width:100%;
    height:40px;
    bottom: 0px;
    right:0px;
    border:0px solid transparent;
    background:transparent url("../img/compBg.png") repeat-x left bottom;
  }
    h3{
        padding-bottom:8px;
        margin:0px;
        word-wrap: break-word;
    }
}
//Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {
  .comp  {
    height:@comp-height-sm;
  }
}
// Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {
  .comp  {
    height:@comp-height-md;
  }
}
// Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {
  .comp  {
    height:@comp-height-lg;
  }
}
