@component-bg:       #f8f8f8;

// Handels component height vs. breakpoints
@comp-height-lg:      388px;
@comp-height-md:      311px;
@comp-height-sm:      414px;
@comp-height-xs:      420px;


.comp{
  background: @component-bg;
  margin-bottom:@grid-gutter-width;
  overflow:hidden;
  height:@comp-height-xs;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-min) {
  .comp  {
    background: @body-bg;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .comp  {
    height:@comp-height-sm;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .comp  {
    height:@comp-height-md;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  .comp  {
    height:@comp-height-lg;
  }
}
