@teaser-caption-padding-lg: 30px 20px;

.teaser{
    a{
      display: block;
      margin:0px !important;
    }
    figure, .caption{
      padding:0px !important;
      overflow: hidden !important;
      height:@comp-height-xs/2;
      .make-xs-column(12);
    }
  .caption{
    padding:  @teaser-caption-padding-lg!important;
  }
    .caption:after{
      content: " ";
      position:absolute;
      width:100%;
      height:100%;
      box-shadow:-0px -100px 75px -25px  @component-bg inset;
      bottom: 0px;
      right:0px;
      z-index:2;
    }

    label,time{
      .show;
    }

    img{
      width: 100%;
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: @screen-sm-min) {
      figure, .caption{
        height:@comp-height-sm/2;
        overflow: hidden;
      }
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {
      figure, .caption{
        height:@comp-height-md/2;
      }
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: @screen-lg-min) {
      figure, .caption{
        height:@comp-height-lg/2;
      }
    }

 }
// Handling top teaser col-*-12 */
// ******************************************************************************
.col-sm-12{
  figure, .caption{
    .make-sm-column(6);
  }
  @media (min-width: @screen-sm-min) {
    .teaser{
      figure, .caption{
        .make-sm-column(6);
        height:@comp-height-sm;
      }
    }
  }
  @media (min-width: @screen-md-min) {
    .teaser{
      figure, .caption{
        height:@comp-height-md;
      }
    }
  }
  @media (min-width: @screen-lg-min) {
    .teaser{
      figure, .caption{
        height:@comp-height-lg;
      }
    }
  }

}






