// KB TEASER
//------------------------------------------------------
// Fallback xs first

.teaser{
  height:auto;
  background:@white;
    a{
      display: block;
    }
    picture{
      height:@comp-height-xs;
    }
    picture, .caption{
      padding: @reset-padding!important;
      overflow: hidden !important;
      .make-xs-column(12);
    }
    img{
      width:100%;
      object-fit: cover;
      overflow: hidden;
      height:@comp-height-xs;
    }
    .caption{
      padding:  @teaser-caption-padding!important;
      *{
        padding: @reset-padding;
        margin: @reset-margin;
      }
    }
    .caption:after{
      content: " ";
      position:absolute;
      width:100%;
      height:40px;
      bottom: 0px;
      right:0px;
      background: linear-gradient(transparent, @teaser-background);
      border-bottom:20px solid @teaser-background;
    }
    span{
      color:@teaser-label;
    }
    span, time{
      display: block;
      font:@teaser-stamp-xs;
    }
    h3{
      font:@teaser-header-xs;
    }
    p{
      font:@teaser-p-xs;
    }

 }

// Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {
  .teaser{
    background: @teaser-background;
    picture, .caption{
      height:@comp-height-sm/2;
    }
    img{
      min-height:@comp-height-sm/2;
    }
    span, time{
      font:@teaser-stamp-sm;
    }
    h3{
      font:@teaser-header-sm;
    }
    p{
      font:@teaser-p-sm;
    }
  }
}

// Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {
  .teaser{
    picture, .caption{
      height:@comp-height-md/2;
    }
    img{
      height:@comp-height-md/2;
    }
    span, time{
      font:@teaser-stamp-md;
    }
    h3{
      font:@teaser-header-md;
    }
    p{
      font:@teaser-p-md;
    }
  }
}

// Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {
  .teaser{
    picture, .caption{
      height:@comp-height-lg/2;
    }
    img{
      height:@comp-height-lg/2;
    }
    span, time{
      font:@teaser-stamp-lg;
    }
    h3{
      font:@teaser-header-lg;
    }
    p{
      font:@teaser-p-lg;
    }
  }
}
// Handling top teaser (first element in grit) col-*-12 */
// ******************************************************************************
.wide{
  picture, .caption{
    .make-sm-column(6);
  }
}
@media (min-width: @screen-sm-min) {
  .wide{
    picture, .caption{
      .make-sm-column(6);
      height:@comp-height-sm;
    }
    img{
      height:@comp-height-sm;
    }
  }
}
@media (min-width: @screen-md-min) {
  .wide{
    picture, .caption{
      height:@comp-height-md;
    }
    img{
      height:@comp-height-md;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .wide{
    picture, .caption{
      height:@comp-height-lg;
    }
    img{
      height:@comp-height-lg;
    }

  }
}








