// overriding bootstraps font path
@icon-font-path: "../fonts/bootstrap331/";

@font-size-xsmall: ceil((@font-size-base * 0.7)); // ~10px;

// KB navbar
@nav-mobile-left-padding:30px;
@nav-mobile-show-width:90%;


// KB Footer
@footer-background: #1b1b1b;
@footer-color: #c9c9c9;
@footer-color-hover: #fff;
@footer-margin-top: 98px;
@footer-padding-vertical: 30px;
@footer-padding-horizontal: 0;
@footer-content-margin: 16px; // FIXME: This should be a globally used value calculated from some margin-default
